<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>

<body style="margin-left: 20px;">
  <h1 class="titulo-form">Relação de produtos - Tijolo</h1>
<table border="1" cellspacing="0" width="80%">
    <thead>
      <tr>
         <th width="30%">Categoria</th>
         <th>Nome</th>
         <th>Preço</th>
         <th>Status</th>
         <th>Detalhes</th>
      </tr>
    </thead>
  <tbody>
    <% for (var i = 0; i < produtos.length; i++) {
    %>
    <tr>
      <td><%= produtos[i].categoriaProduto %></td>
      <td><%= produtos[i].nomeProduto %></td>
      <td><%= produtos[i].precoProduto %></td>
      <td><%= produtos[i].statusProduto %></td>
    
      <td><a href="/detalhesProduto?id=<%= produtos[i]._id %>"> <img src="images/detalhes.jpg" title="Ver"/></a>
          <a href="/editarProduto?id=<%= produtos[i]._id %>"> <img src="images/edicao.jpg" title="Editar"/></a>
          <a href="javascript:confirm('Tem certeza que deseja excluir?') ?
          window.location='/excluirProduto?id=<%= produtos[i]._id %>' : void(0)"> 
          <img src="images/delete.jpg" title="Excluir"/></a>
      </td>
    </tr>
      
    <%
    }
    %>
  </tbody> 
</table>
</body>